html {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p {
    background-color: #FFFFFF;
    padding: 0.6em;
    border-radius: 20pt;

    border: 2pt solid #22BBCC;
    font-size: 13pt;
    color: black;
    height: auto;
    width: 400px;

    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;

}

img {
    border-bottom: 10px groove #22BBCC;
}

div.top {
    border-bottom: 10px groove #22BBCC;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body {
    border: 10px groove #22BBCC;
}

a {
    background-color: #FFFFFF;
    padding: 0.3em;
    border-radius: 20pt;

    border: 2pt solid #22BBCC;
    font-size: 13pt;
    color: black;
    height: auto;
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a:hover {
    background-color: aquamarine;
    color: black;
}